* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  background-image: url("../img/game-of-thrones.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;

}

#content {

  font-family: 'Chicle', cursive;
}

#header {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
  font-family: 'Chicle', cursive;

}

th {
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

td, tr {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.4);

}
.row {
  background-color: rgba(0, 0, 0, 0.4);
}

tr:hover {
  background-color: darkred;
}

select {
  cursor:pointer;
}

#thanksInfo {
  display: none;
}

#disqualificationInfo {
  display: none;
}
button {
  width: 100%;
  height: 100%;
}

table{
  width: 100vw;
}