* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#content {
  background-image: url("../img/game-of-thrones.jpg");
  background-size: cover;
  color: white;
  height: 100vh; }
  #content select {
    cursor: pointer; }
  #content #thanksInfo {
    display: none; }

#header {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px; }

th {
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px; }

td, tr {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.4); }

tr:hover {
  background-color: darkred; }
