*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
#content {
    background-image: url("../img/game-of-thrones.jpg");
    background-size: cover;
    color: white;
    height: 100vh;
}
select {
    cursor:pointer;
}

